* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #0f0f0f;
    font-size: 14px;
}

.img-thumb {
    width: 380px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.img-canal {
    width: 38px;
    border-radius: 50%;
}

.caixa-textos {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.caixa-titulo {
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.caixa-texto {
    color: #606060;
}

.caixa-texto a {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.caixa-infos {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.caixa-videos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
}

.caixa-video {
    width: 380px;
}

.caixa-aovivo {
    display: flex;
    gap: 5px;
    background-color: #cc1234e6;
    padding: 1px 3px;
    color: #ffffff;
    fill: white;
    border-radius: 4px;
    width: max-content;
    font-size: 13px;
    text-transform: uppercase;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categorias {
    display: flex;
    gap: 8px;
}
.categoria {
    font-size: inherit;
    font-family: inherit;
    border-radius: 8px;
    padding: 7px 12px;
    border: none;
    font-weight: 500;
    background-color: #0000000d;
    cursor: pointer;
}

.categoria.selecionado {
    background-color: #0f0f0f;
    color: white;
    font-weight: 600;
}

.principal {
    display: flex;
    gap: 30px;
}

.menu-lateral {
   min-width: 240px;   
}

.menu-bloco,
.menu-login {
    border-bottom: 1px solid rgba(0, 0 , 0, 0.1) ;
    padding: 15px;
}

.menu-bloco:last-child {
    border-bottom: none;
}

.bloco-item {
    display: flex;
    border-radius: 12px;
    padding: 7px 20px;
    align-items: center;
    gap: 20px;
    color: inherit;
    text-decoration: none;
}

.bloco-titulo {
    margin-left: 15px;
    font-weight: 500;
    font-size: 16px;
    padding: 3px 0;
}

.bloco-item.selecionado {
    background-color: #0000000d;
    font-weight: 600;
}